<h3>Are you sure you want to delete your account?</h3>
<p>Your album and rating data will be deleted. To unlink your account, go to <a target="_blank" href="http://accounts.spotify.com/">accounts.spotify.com</a>. Look under <span class="resource">Account Overview &gt; Apps &gt; AlbumQ &gt; Remove Access</span>.</p>
<div id="delete-buttons">
   <a href="javascript:void(0)" class="attention" id="delete-close" data-ng-click="cancel($event)">Cancel</a>
   <a href="javascript:void(0)" id="delete-accept" data-ng-click="delete()">Delete</a>
</div>